{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<center>

  <h1 style=" font-size: 48px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text; padding-bottom: 40px;">{% trans "Change Password" %}</h1>
  <form method="POST" style="width: 400px;" action="{% url 'account_change_password' %}" class="password_change form-horizontal">
    {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_oldpassword">Current Password</label>
      <div class="col-sm-10">
        <input class="form-control" id="id_oldpassword" name="oldpassword" placeholder="Current Password" type="password" required />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_password1">New Password</label>
      <div class="col-sm-10">
        <input class="form-control" id="id_password1" name="password1" placeholder="New Password" type="password" required />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_password2">New Password (again)</label>
      <div class="col-sm-10">
        <input class="form-control" id="id_password2" name="password2" placeholder="New Password (again)" type="password" required />
      </div>
    </div>
    <button class="btn btn-default" type="submit" name="action">{% trans "Change Password" %}</button>
  </form>

</center>

{% endblock %}
