{% extends "tutorial/tutorial_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

<h2> Mutual Atari </h2>

<a href="/journey/tutorial/4">
  <p id = "text"> Previous step </p>
</a>

<a href="/journey/tutorial/6">
  <p> Next step </p>
</a>

</div>

{% endblock %}
