<!DOCTYPE html>
<html>
<head>
<title>Goto Go Trainer</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <style type="text/css">
    .jumbotron {
        background-image: url("static/go_background.jpg");
        background-size: cover;
        background-position: bottom;
        color: white;
         text-shadow:
    		-1px -1px 0 #000,
   			1px -1px 0 #000,
    		-1px 1px 0 #000,
    		1px 1px 0 #000;
        padding-bottom: 40px;
		height: 92vh;
		margin: 0;
		overflow: auto;
    }
    .jumbotron .btn{
    	height : 2 em;
    }
    .jumbotron .btn-primary {
        background: #385c88;
        border-color: #385c88;
        width : 12em;
    }
    .jumbotron .btn-primary:hover {
        background: #012169;
    }
	.jumbotron .btn-success {
        width: 25em;
        font-size: 20px;
    }
    .jumbotron p {
        max-width: 75%;
        margin: 1em auto 1em
    }
    .navbar+.jumbotron {
        margin-top: -20px
    }
    .jumbotron .go-logo {
        display: block;
        background: #b01302;
        border-radius: 50%;
        overflow: hidden;
        width: 100px;
        height: 100px;
        margin: auto;
        border: 2px solid white
    }
    .jumbotron .go-logo img {
        max-width: 100%
    }



  </style>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a href="/journey"><span class="glyphicon glyphicon-user"></span> Journey Map</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Account <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <!---<li><a href="accounts/password/change/">Password Change</a></li>
            <li><a href="accounts/password/set/">Password Set</a></li>
            <li><a href="accounts/password/reset/">Password Reset</a></li>
            <li><a href="accounts/email/">Account Email</a></li>
            <li><a href="accounts/confirm-email/">Confirm Email</a></li>-->
            <li><a href="/account/profile/">View Profile</a></li>
            <li><a href="/account/settings/">Settings</a></li>
            <li class="divider"></li>
            <li><a href="/account/logout/">Logout</a></li>
          </ul>
      </li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="http://senseis.xmp.net/" target="_blank"><span class="glyphicon glyphicon-book"></span> Go Library</a>
      </li>
    </ul>
  </div>
</nav>

{% block content %}{% endblock %}

</body>
</html>
